*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-inter- {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}


/* Shared style */
.btn{
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    background-color: #469165;
   color:   white;
    border: none;
    cursor: pointer;
}


/* Main Style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    


   
   
}

.links{
    
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 32px;
}

/* Hero section */
#hero{
    
    background-color: #627382;
     min-height: 500px;
     
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     
   

   

   
}
#hero .hero-content-parent{
     display: flex;
     flex-direction: column;
   
     align-items: center;
     gap:50px
}
.paragraph-parent{
    background-color: white;
    display: flex;
   border-radius: 1000px;
   justify-content: center;
   align-items: center;
   padding: 8px 12px;
   gap: 6px;

}
#hero .hero-content-parent  .primary-round{
    width: 18px;
    height: 18px;
    background-color: #469165;
    border-radius: 15px;
    
   
}
#hero .hero-content-parent  .primary-p{
   align-items: center;
   font-size: 16px;
   font-weight: 500;
   line-height: 19px;
   color: #469165;
    
}




#hero .hero-content-parent .heading-part-1{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;


}
#hero .hero-content-parent .heading-part-2{
    color: #30B868;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;


}
#hero .hero-content-parent .secondary-p {
    color: #FFFFFF;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    max-width: 700px;
}

.btn-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding: 12px 16px;
    border-radius: 4px;
    background-color: #469165;
   color:   white;
    border: none;
    cursor: pointer;
    gap: 10px;
}
 .button-2{
   
     padding: 12px 16px;
    border-radius: 4px;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
   
    
}
.img-icon{

   
}
 .button-parent{
    display: flex;
    gap:16px;
}

/* Card section */
#card{
    padding: 0px 120px 120px 120px;
    background-color: #FFFFFF;
    max-width: 1600px;
    margin: 0 auto;
    
    


}
.card-heading{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
    
    
    
}
.card-heading h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 16px;
    margin-top:56px ;
   
    
    

    
}
.card-heading p{
      font-size: 16px;
    font-weight: 400;
      line-height: 20px;
      color: #627382;
      
}
.card-parent{
     display: flex; 
     gap:24px 
    
}
 #card .card-parent .card-info{
    margin-top: 44px;
    padding: 24px 24px;
    border-radius: 8px;
    box-shadow:  0px 0px 8px 0px rgba(0, 0, 0, 0.06);
     display: flex;
     flex-direction: column;
   align-items: center;
   justify-content: center;
   gap:16px;
    
   
}
#card .card-parent .card-info h3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 16px;
    text-align: center;
    
}
#card .card-parent .card-info p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #627382;
      
}
#card .card-parent .card-info .round-shaped{
     padding: 14.38px 14.07px 13.62px 13.93px; 
    border-radius: 60px 60px;
    background-color: #F95555;

}

/* Solution Styling */

#solution{

    padding: 120px 120px 120px 120px;
   align-items: center;
   max-width :1600px;
    margin: 0 auto;
    
}
.solution-content-parent{
    display: flex;
    gap:60px;
 


}
.solution-img{
    border-radius: 12px ;
    border:none;
    
}

.primary-paragraph{
    padding-top:102px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #469165;
    margin-bottom: 16px;
      

}

#solution .solution-content-parent .solution-content h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: #001931;
    margin-bottom: 16px;
      text-align: left;
      max-width: 580px;
      margin-left: 0px;
      
      
}
.secondary-paragraph{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
    max-width: 445px;
    margin-left: 0px ;
    
    text-align: left;
    
    
    
}

.solution-checkcircle-parent{
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.solution-info{
    display: flex;
    gap:6px

    
    
}
.circle-paragraph{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;

}

/* Challenger Part */

#challenger{
    padding: 2px 120px 120px 120px;
  
  max-width: 100%;
  margin: 0 auto;
}
.challenger-parent{
     padding: 80px 40px 80px 40px;
     border-radius: 12px;
    background-color: #F7F6F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.challenger-header{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #001931;
    margin-bottom: 16px;
    
   
}
.challenger-p1{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
    max-width: 605px;
    margin: 0 auto;
    text-align: center;
    
} 

.btn-2{
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
     padding: 12px 16px 12px 16px;
    border-radius: 4px;
    background-color: #469165;
   color:   white;
    border: none;
    margin-top: 15px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    
    
}
.arrow{
    align-items: center;
    max-width: 20px;
    max-height: 20px;
}

.style-1{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    
} 

#footer{
    background-color: #001931;
    padding: 120px 120px 30px 120px ;
    max-width: 100%;
    margin: 0 auto;

}
.footer-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 83.5px;
    
}
.line{
    opacity: 0.23;
    color: #E5E7EB;
    margin-bottom: 30px;
}
.footer-header{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FAFAFA;

}
.icons{
    display: flex;
    gap: 16px;
    

}
.icons i{
    padding: 4.25px 4.38px;
    max-width: 19px;
    max-height: 19px;
    border-radius: 50%;
    background-color: #FAFAFA;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor : pointer;
    

}






