*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-inter- {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}


/* Shared style */
.btn{
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #469165;
   color:   white;
    border: none;
}


/* Main Style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    


   
   
}

.links{
    
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 32px;
}

/* Hero section */
#hero-parent{
   
  
  height: 700px;

background-image: url("./assets/hero-bg.png");
    
   background-position: top left,;
   background-repeat: no repeat;
   display: flex;
   align-items: center;
   justify-content: center;
    
      

   
}
.section-content-parent{
      margin-top: 154px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-around;
   align-items: center;
    
}
.section-content-parent .heading-part-1{
    color: #FFFFFF;


}
.section-content-parent .heading-part-2{
    color: rgba(48, 184, 104, 1);
}
.section-content-parent p{
    color: #FFFFFF;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
}

.section-content-parent .btn-1{
    display: inline;
     padding: 12px 16px;
    border-radius: 4px;
    background-color: #469165;
   color:   white;
    border: none;
}
.section-content-parent .btn-2{
   
     padding: 12px 16px;
    border-radius: 4px;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 1);
   
    
}
.section-content-parent .button-parent{
    display: flex;
    gap:16px;
}

/* Card section */
#card{
    padding: 0px 120px 120px 120px;
    background-color: #FFFFFF;
    max-width: 1600px;
    margin: 0 auto;
    
    


}
.card-heading{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
    
    
    
}
.card-heading h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 16px;
    margin-top:56px ;
   
    
    

    
}
.card-heading p{
      font-size: 16px;
    font-weight: 400;
      line-height: 20px;
      color: #627382;
      
}
.card-parent{
     display: flex; 
     gap:24px 
    
}
 #card .card-parent .card-info{
    margin-top: 44px;
    padding: 24px 24px;
    border-radius: 8px;
    box-shadow:  0px 0px 8px 0px rgba(0, 0, 0, 0.06);
     display: flex;
     flex-direction: column;
   align-items: center;
   justify-content: center;
   gap:16px;
    
   
}
#card .card-parent .card-info h3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 16px;
    text-align: center;
    
}
#card .card-parent .card-info p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #627382;
      
}
#card .card-parent .card-info .round-shaped{
     padding: 14.38px 14.07px 13.62px 13.93px; 
    border-radius: 60px 60px;
    background-color: #F95555;

}

/* Solution Styling */

#solution{

    padding: 120px 120px 120px 120px;
   align-items: center;
   max-width: 1600px;
    margin: 0 auto;
    
}
.solution-content-parent{
    display: flex;
    gap:60px;
 


}
.solution-img{
    border-radius: 12px ;
    border:none;
    
}

.primary-paragraph{
    padding-top:102px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #469165;
    margin-bottom: 16px;
      

}

#solution .solution-content-parent .solution-content h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: #001931;
    margin-bottom: 16px;
      text-align: left;
}
.secondary-paragraph{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
    
    
}

.solution-checkcircle-parent{
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.solution-info{
    display: flex;
    gap:6px

    
    
}
.circle-paragraph{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;

}

/* Challenger Part */






