*{
    margin: 0px;
    padding: 0px;
}

.font-inter- {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}


/* Shared style */
.btn{
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #469165;
   color:   white;
    border: none;
}


/* Main Style */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 120px;
}

.links{
    
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 32px;
}
